<div class="col-md-12">
	<h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="model.email" required #email="ngModel">
        <span [hidden]="email.valid || email.pristine" class="errorText">Email is required</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" id="password" required #password="ngModel">
        <span [hidden]="password.valid || password.pristine" class="errorText">Password is required</span>
      </div>
      <div *ngIf="errorMessage !== ''">{{ errorMessage }}</div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">Submit</button>
    </form>
    <div>No account <a routerLink="/register" routerLinkActive="active">Register</a></div>
</div>